body{
    width: 100%;
    padding-top: 15em;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container{
    width: 500px;
    height: 340px;
    padding: 0.5em 0.2em 0.2em 0.6em;
    background-color: white;
}

header{
   width: 480px;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 75px;
    height: 70px;

}

header h1{
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'Handlee', cursive;
}

section{
    width: 480px;
    display: flex;
    justify-content: space-between;
    
}

section p:first-child{
    width: 220px;
}

p{
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    font-weight: 700;
    text-align: justify; 
    width: 220px;
}
section input{
    width: 210px;
    height: 2em;
    margin-left: 3em;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 15px;
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'Handlee', cursive;
}

section .input1{
    display: flex;
    justify-content: space-around;
}

section .input2{
    display: flex;
    justify-content: space-around;
}


section i{
    margin-top: 1.5em;
    font-size: 0.6em;
    color: rgb(0, 174, 255);
}


.sect-botton{
    display: flex;
    justify-content: center;
}

.botton{
    border: 0px;
    border-radius: 0.2em;
    width: 8.2em;
    height: 1.6em;
    background-color: rgb(185, 187, 189);
    font-size: 16px;
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'Handlee', cursive;
    font-weight: 600;
    text-align: center;
}

